# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\baruch\Documents\_My documents\לימודים\מכון לב\תשפא\סמסטר א\כריית מידע\תרגילים\Ex_04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
